<div class="container" style="margin-top: 55px;">
    <br>
    <div class="row">
        <div class="col">
            <h2>
                Marco de trabajo para desarrollo ágil: SCRUM
            </h2>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <h5>Definición</h5>
            <p>
                Scrum es un marco de trabajo ágil para la gestión y desarrollo de proyectos de software. Fue creado
                en
                los años 90 por Jeff Sutherland y Ken Schwaber y se basa en la colaboración, la transparencia y la
                adaptabilidad. Scrum se enfoca en la entrega de valor de manera iterativa e incremental, permitiendo a
                los equipos responder rápidamente a los cambios y obtener retroalimentación constante.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h5>Características</h5>

            <p><strong>Pilares</strong></p>
            <div class="row text-center">
                <div *ngFor="let item of pilares" class="col-12 col-md-6 col-lg-4 col-xl-4">
                    <app-item-card [title]="item.title" [subtitle]="item.subtitle" [image]="item.image"></app-item-card>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h5>Sprint</h5>
            <p>
                En Scrum, el trabajo se divide en sprints, que son períodos de tiempo fijos y cortos, generalmente de 1
                a 4 semanas, en los que se desarrolla una funcionalidad potencialmente entregable. Cada sprint comienza
                con una reunión de planificación en la que se seleccionan las historias de usuario y se definen las
                tareas necesarias. Durante el sprint, se realizan reuniones diarias de seguimiento llamadas Daily Scrum,
                donde el equipo sincroniza su trabajo y se identifican posibles obstáculos.
            </p>
            <p>Al final de cada sprint, se lleva a cabo una revisión del sprint, donde se muestra el trabajo completado
                y se recopila la retroalimentación de los stakeholders. Además, se realiza una retrospectiva del sprint,
                en la que el equipo reflexiona sobre el proceso y busca mejoras continuas. Estas dos reuniones son
                fundamentales para el aprendizaje y la adaptación del equipo.</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h5>Roles</h5>
        </div>
    </div>
    <div class="container text-center">
        <div class="row">
            <div *ngFor="let item of team" class="col-12 col-md-6 col-lg-4 col-xl-4">
                <app-item-card [title]="item.title" [subtitle]="item.subtitle" [image]="item.image"></app-item-card>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top:20px;">
        <div class="col">
            <h5>Artefactos</h5>
        </div>
    </div>
    <div class="container text-center">
        <div class="row">
            <div *ngFor="let item of artefactos" class="col-12 col-md-6 col-lg-4 col-xl-4">
                <app-item-card [title]="item.title" [subtitle]="item.subtitle" [image]="item.image"></app-item-card>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top:20px;">
        <div class="col">
            <h5>Ceremonias</h5>
        </div>
    </div>
    <div class="container text-center">
        <div class="row">
            <div *ngFor="let item of ceremonias" class="col-12 col-md-6 col-lg-4 col-xl-3">
                <app-item-card [title]="item.title" [subtitle]="item.subtitle" [image]="item.image"></app-item-card>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top:20px;">
        <div class="col sm md-4 lg-3">
            <h5>Conclusiones</h5>
            <p>
                Scrum es un marco de trabajo ágil que promueve la colaboración, la transparencia y la adaptabilidad. Se basa
            en sprints cortos, entrega de valor iterativa e incremental, y feedback constante. 
            </p>
            <p>Con roles bien definidos
                y reuniones estructuradas, Scrum ayuda a los equipos a gestionar de manera efectiva los proyectos de
                software y a responder de manera flexible a los cambios en los requisitos y las necesidades del cliente.</p>
        </div>
    </div>

    <div class="row text-center" style="margin-top:20px; margin-bottom: 20px;">
        <div class="col">
            <p>
                <em>¡Gracias por su atención!</em>
            </p>
        </div>
    </div>
</div>